<div>
  <div class="top-bar">
    <div class="form-field">
      <label for="ticker">Enter Stock Ticker</label>
      <input id="ticker" type="text" [(ngModel)]="ticker" placeholder="Ex. AAPL" maxlength="5"/>
    </div>
    <div class="frequent-tickers">
      <p>Or select from the following:</p>
      <button (click)="ticker = 'AAPL'; fetchStockData()">AAPL</button>
      <button (click)="ticker = 'GOOG'; fetchStockData()">GOOG</button>
      <button (click)="ticker = 'MSFT'; fetchStockData()">MSFT</button>
      <button (click)="ticker = 'AMZN'; fetchStockData()">AMZN</button>
      <button (click)="ticker = 'META'; fetchStockData()">META</button>
    </div>
  </div>
  <div class="button-bar">
    <button (click)="fetchStockData()">Fetch Stock Data</button>
    <button (click)="clearStockData()">Clear Stock Data</button>
    <button (click)="chartStockData(); showChart()">Chart Stock Data</button>
  </div>
</div>
<div>
  <div *ngIf="stockName" class="info" align="center">
    <h2>{{ stockName }}</h2>
  </div>

  <div *ngIf="loading" class="loading">
    <div class="spinner"></div>
  </div>

  <div *ngIf="error" class="error">
    <p>{{ error }}</p>
  </div>

  <div *ngIf="stockData.length > 0" class="data-container">
    <div class="chart-container">
    <app-chart *ngIf="isChartVisible" [chart_data]="stockData.reverse()"></app-chart>
    </div>
    <div class="table-container">
    <table>
      <thead>
      <tr>
        <th>Date</th>
        <th>Open</th>
        <th>High</th>
        <th>Low</th>
        <th>Close</th>
        <th>Volume</th>
        <th>Dividends</th>
        <th>Stock Splits</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let element of stockData">
        <td>{{ element.Date | date }}</td>
        <td>${{ element.Open }}</td>
        <td>${{ element.High }}</td>
        <td>${{ element.Low }}</td>
        <td>${{ element.Close }}</td>
        <td>{{ element.Volume }}</td>
        <td>{{ element.Dividends }}</td>
        <td>{{ element['Stock Splits'] }}</td>
      </tr>
      </tbody>
    </table>
      </div>
  </div>
</div>


